shamefully-hoist=true
always-auth=false
@fortawesome:registry=https://npm.fontawesome.com/
strict-peer-dependencies=false
//npm.fontawesome.com/:_authToken=7FADC5BA-2678-4A03-95C9-A4B3F422FCFF
//npm.fontawesome.com/:always-auth=true
